/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  background-color: white;
  /*background-color: #fff;*/
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }



/**
 * Blockquotes
 */
blockquote {
  color: #fff;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  /*border: 1px solid #e8e8e8;*/
  border-radius: 3px;
  color: #00aa90;
  /*代码模式 背景色*/
  background-color: #fafafa; 
  /*background-color: #ca7853;*/
  }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }


/**
 * Site header
 */
.site-header {
/*  border-top: 1px solid #e8e8e8;;
  border-bottom: 1px solid #e8e8e8;*/
  /*min-height: 56px;*/
/*  height: 340px;
  position: relative; 
  overflow:hidden;
  clear:both;*/
  position: relative; 
  height: 500px;
  /*width:630px;*/
  margin:0 auto;
  overflow:hidden;
  clear:both;
}

/*王琨的头部*/
/*info部分开始*/
/*.info{
    width:630px;
    margin:10px auto;
    overflow:hidden;
    clear:both;
    }*/
    
.site-header figure{
    width:100%;
    height:480px;
    display:block;
    overflow:hidden;
    position:relative;
    margin: 0 auto;
    /*各个浏览器的兼容*/
    -webkit-animation:pageTop 6s ease 0.5s backwards;
    -moz-animation:pageTop 6s ease 0.5s backwards;
    -o-animation:pageTop 6s ease 0.5s backwards;
    -ms-animation:pageTop 6s ease 0.5s backwards;
    animation:pageTop 6s ease 0.5s backwards;
    float:left;
    }
    
.bottomBox{
  width: 100%;
  height: 20%;
  position:relative;
  display:block;
  margin: 0 auto;
  top: 80%;
  /*background-color: rgba(155,155,155,0.7)*/
}

.bottomBox .littleBox{
  position: relative;
  height: 10%;
  float: right;
  top: 45%;
  right: 30px;
  margin-right: 30px;
}

.site-header figcaption{
    padding:20px;
    position:absolute;
    top: 15%;
    left: 20%;
    background-color:rgba(155,155,155,0.7);
    color:#FFF;
    opacity:0;
    -webkit-transition:ease-out opacity 0.75s;
    -moz-transition:opacity 0.75s ease-out;
    -ms-transition:opacity 0.75s ease-out;
    -o-transition:opacity 0.75s ease-out;
    }
.site-header figure:hover figcaption{
    opacity:1;

    }


/*本来想完美适配+居中，但是暂时发现不行*/
.headerImg
{
    width:1200px;
    height:100%;
    border-radius: 8px;
    /*background-size: 100% auto;*/
    background:url("../images/art.png") no-repeat; 
    position: relative;
    /*居中*/
    left: 50%;
    margin-left: -600px;
}



.site-header WKTitle{
    font-size: 20px;
    text-align: center;
}

.site-header  figcaption strong{
    display:block;
    line-height:20px;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; 
  
/*  position:relative;
  margin: 0 auto;*/
  }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #434343;
  text-align:center
}


/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px;
  color: #e8e8e8
   }

.post-list {
  color: #ffffff
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  color: #ffffff
  font-size: 14px;
  /*color: #828282;*/ }

.post-link {
  display: block;
  font-size: 24px;
  color: #5dac81; }

.post-wkLink{
  display: block;
  font-size: 18px;
  color: #5dac81;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
/*.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #91ad70; 
  }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }*/



    /*自添加*/

/*`` 和 ``` ```的内容底色*/
blockquote p {
  /*color: #58b2dc;*/
  /*color: #305A56;*/
  /*color: #f05e1c;*/
  /*color: #ca7853;*/
  /*color: #268785;*/
  /*color: #00aa90;*/
  color: #51a8dd;
}

/*h2 a {
  color: #18b13e;
  text-decoration: none; }
  a:visited {
    color: #18b13e; }
  a:hover {
    color: #d0104c;
    text-decoration: underline; 
  }
*/
a{
  text-decoration: none;
}
  a:hover {
    color: #227d51;
    text-decoration: underline; 
  }

/*头部可点击部分*/
.littleBox .link {
  color: white;
  text-decoration: underline; 
  }

.pagination
  {
/*    background-color: #aaa;
    border-radius: 5px;*/
    margin:0 auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    /*vertical-align: middle;*/
  }

.pagination .left
{
  position: absolute;
  height: 40px;
  width: 80px;
  left: 10px;
}

.pagination a{

  color: #5dac81;
}
.pagination a:hover {
    color: #227d51;
    text-decoration: underline; 
  }
.pagination .right
{
  position: absolute;
  height: 40px;
  width: 80px;
  right: 10px;
}


