/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  background-color: white;
  /*background-color: #fff;*/
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }



/**
 * Blockquotes
 */
blockquote {
  color: #fff;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  /*border: 1px solid #e8e8e8;*/
  border-radius: 3px;
  color: #00aa90;
  /*代码模式 背景色*/
  background-color: #fafafa; 
  /*background-color: #ca7853;*/
  }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; 
  
/*  position:relative;
  margin: 0 auto;*/
  }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #434343;
  text-align:center
}


/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px;
  color: #e8e8e8
   }

.post-list {
  color: #ffffff
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  color: #ffffff
  font-size: 14px;
  /*color: #828282;*/ }

.post-link {
  display: block;
  font-size: 24px;
  color: #5dac81; }

.post-wkLink{
  display: block;
  font-size: 18px;
  color: #5dac81;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }




    /*自添加*/

/*`` 和 ``` ```的内容底色*/
blockquote p {

  color: #51a8dd;
}

a{
  text-decoration: none;
}
  a:hover {
    color: #227d51;
    text-decoration: underline; 
  }




/**
 * Site header
 */
.site-header {

  position: relative; 
  height: 500px;
  margin:0 auto;
  overflow:hidden;
  clear:both;
}

/*王琨的头部*/

    
.site-header figure{
    width:100%;
    height:480px;
    display:block;
    overflow:hidden;
    position:relative;
    margin: 0 auto;
    /*各个浏览器的兼容*/
    -webkit-animation:pageTop 6s ease 0.5s backwards;
    -moz-animation:pageTop 6s ease 0.5s backwards;
    -o-animation:pageTop 6s ease 0.5s backwards;
    -ms-animation:pageTop 6s ease 0.5s backwards;
    animation:pageTop 6s ease 0.5s backwards;
    float:left;
    }
    
.bottomBox{
  width: 100%;
  height: 20%;
  position:relative;
  display:block;
  margin: 0 auto;
  top: 80%;
}

.bottomBox .littleBox{
  position: relative;
  height: 10%;
  float: right;
  top: 45%;
  right: 30px;
  margin-right: 30px;
}

.site-header figcaption{
    padding:20px;
    position:absolute;
    top: 15%;
    left: 20%;
    background-color:rgba(155,155,155,0.7);
    color:#FFF;
    opacity:0;
    -webkit-transition:ease-out opacity 0.75s;
    -moz-transition:opacity 0.75s ease-out;
    -ms-transition:opacity 0.75s ease-out;
    -o-transition:opacity 0.75s ease-out;
    }
.site-header figure:hover figcaption{
    opacity:1;

    }


/*本来想完美适配+居中，但是暂时发现不行*/
.headerImg
{
    width:1200px;
    height:100%;
    border-radius: 8px;
    /*background-size: 100% auto;*/
    background:url("../images/art.png") no-repeat; 
    position: relative;
    /*居中*/
    left: 50%;
    margin-left: -600px;
}



.site-header WKTitle{
    font-size: 20px;
    text-align: center;
}

.site-header  figcaption strong{
    display:block;
    line-height:20px;
}

.littleBox .link {
  color: white;
  text-decoration: underline; 
  }




/*分页模块需要的*/
.pagination
  {
/*    background-color: #aaa;
    border-radius: 5px;*/
    margin:0 auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    /*vertical-align: middle;*/
  }

.pagination .left
{
  position: absolute;
  height: 40px;
  width: 80px;
  left: 10px;
}
.pagination a{

  color: #5dac81;
}
.pagination a:hover {
    color: #227d51;
    text-decoration: underline; 
  }
.pagination .right
{
  position: absolute;
  height: 40px;
  width: 80px;
  right: 10px;
}


