---
layout: page
title: 日期归档
permalink: /archives/
---

<h2>Archives</h2>

  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

   <p> <a class="post-wkLink" href="{{ post.url }}">{{ post.date | date: "%m-%d" }}   {{ post.title }}</a></p>
  {% endfor %}
