

<header class="site-header">
    <!-- <div class="info"> -->
      <script type="text/javascript" scr="../js/poem.js"></script>

        <figure>
            <!-- <div style="background:url('http://ocej63sob.bkt.clouddn.com/image/art.png')" class="headerImg"> -->
            <div class="headerImg">
            <!-- <img src="http://ocej63sob.bkt.clouddn.com/image/art.png" alt="我们"> -->
                <figcaption id="poem">

                </figcaption>
                
                <div class="bottomBox">

                    <div class="littleBox">
                        <a  class="link" href="#">GitHub</a>
                    </div>
                    <div class="littleBox">
                        <a class="link" href="{{ "/feed.xml" | prepend: site.baseurl }}">订阅</a>
                    </div> 
                    {% for my_page in site.pages %}
                      {% if my_page.title %}
                          <div class="littleBox">
                          <a  class="link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                          </div>
                      {% endif %}
                    {% endfor %}
                    
                    

                    <div class="littleBox">
                        <a class="link" href="{{site.url}}">主页</a>
                    </div>
                </div>

            </div>
        </figure>
    <!-- </div> -->

</header>
